/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */



.Login {
  /* background-color: lightgray; */
  margin-top: 10%;
  margin-left: 30%;
  box-shadow: 5px 2px 5px 3px rgb(240, 198, 198);
}

.Login {
  background-color: lightblue;
  width: fit-content;
  height:fit-content;
}

.form {
  padding-top: 20px;
}

input {
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 15px;
  height: 25px;
  margin-left: 10%;
  width: 80%;
}

button {
  background-color: rgb(245, 208, 208);
  border-radius: 5px;
  margin-left: 40%;
  
}

.notvalid {
  color: red;
}

.valid {
  color: green;
}

.head {
  margin-left: 25px;
  color: black;
}


.password {
  border: 2px solid lightblue;
}

.username {
  border: 2px solid lightblue;

}

li {
  margin-bottom: 5px;
}

small {
  color: black;
  
}