


body {
  background-color: #7cfcfe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.header {
  margin-bottom: -30px;
  display: flex;
  justify-content: space-around;
}

.header_reg {
  /* background-color: white;
   */
   color: lightblue;
}

.header_log {
  color:lightblue ;
}




.Login {
  
  box-shadow: 5px 2px 5px 3px rgb(240, 198, 198);
}



@media (max-width:670px) {
  .Login {
   
    box-shadow: 5px 2px 5px 3px rgb(226, 150, 150);
  }

 
}


.Login {
  background-color: lightblue;
  width: fit-content;
  height:400px;
  min-height: fit-content;
}

.form {
  padding-top: 20px;
  margin-top: 10px;
}

input {
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 15px;
  height: 25px;
  margin-left: 6%;
  width: 80%;
}

.submit_btn {
  background-color: rgb(245, 208, 208);
  border-radius: 5px;
  margin-left: 40%;

  width: 65px;
  
}

.notvalid {
  color: red;
}

.valid {
  color: green;
}

.head {
  margin-left: 25px;
  color: black;
}


.password {
  border: 2px solid lightblue;
}

.username {
  border: 2px solid lightblue;

}

li {
  margin-bottom: 5px;
}

small {
  color: black;
  
}

.register {
  margin-top: -30px;
  
}

.checkbox {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  
}

  .checkbox b {
    margin-left: -55px;
  }

  .password_view {
    width: fit-content;
    border: none;
    background-color: white;
    margin-left: -12%;
    text-decoration: none;
  }
  .password_viewl {
    margin-left: -15%;
    width: fit-content;
    border: none;
    background-color: white;

  }
  .password_notviewl{
    width: fit-content;
    border: none;
    background-color: white;
    margin-left: -15%;
    text-decoration: line-through;
  }

  .password_notview {
    width: fit-content;
    border: none;
    background-color: white;
    margin-left: -12%;
    text-decoration: line-through;
  }

  button :hover {
    cursor: pointer;
  }